*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header{
  position: block;
  background:#0D0D0D;
  height:45px;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
}
.header-wrapper{
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  fill: currentColor;
  margin-right: 10px;
}
svg path {
  stroke:inherit;
  stroke-width:inherit;
  fill:inherit;
}
